* This code formats the Doñana National Park CSIC metheorological data (http://icts.ebd.csic.es/en/datos-meteorologicos) into European Fluxes Database Cluster format (http://www.europe-fluxdata.eu/)

In [7]:
#import pandas as pd
#import datetime as dt
#import os
#import xlrd
#import altair as alt

# Load metheorological data

In [8]:
import pandas as pd
import datetime as dt
import os
import xlrd

In [9]:
cwd  = os.getcwd()
os.chdir("..")
uwd  = os.getcwd()
os.chdir(cwd)

#Directory with the Data
filepath = cwd + '\\Data\\Rainfall\\'
first_file = "Palacio 2016 - 2017.xls"

#First file of the data set is required to start the batch 
data_meteo = pd.read_excel(filepath + first_file, "Datos Diarios")
length_file = len(data_meteo)

#Loop to batch all existing files // Data available till 
for i in range(2017,2021):
    x = i
    y = i + 1
    file_name = filepath +'Palacio '+str(x)+' - '+ str(y)+'.xls'
    
    df = pd.read_excel(file_name,"Datos Diarios")
    length_file += len(df)
    
    data_meteo = pd.concat([data_meteo, df], axis = 0)
    print('The length of your data set up to '+ str(y) +' is  : ' + str(length_file))

The length of your data set up to 2018 is  : 732
The length of your data set up to 2019 is  : 1098
The length of your data set up to 2020 is  : 1465
The length of your data set up to 2021 is  : 1831

In [10]:
data_meteo

           Día    TS    TH  Tmax  Tmin  Prec.   DH  Tmed  Osc.    DL  PAcum.
0   2016-09-01  18.2    18  38.0  16.0    0.0  0.0  27.0  22.0   0.0     0.0
1   2016-09-02  18.5  18.2  38.0  17.0    0.0  0.0  27.5  21.0   0.0     0.0
2   2016-09-03  24.1  22.9  41.0  18.0    0.0  0.0  29.5  23.0   0.0     0.0
3   2016-09-04  19.2  17.9  42.0  19.0    0.0  0.0  30.5  23.0   0.0     0.0
4   2016-09-05  19.3  18.5  46.0  19.0    0.0  0.0  32.5  27.0   0.0     0.0
..         ...   ...   ...   ...   ...    ...  ...   ...   ...   ...     ...
361 2021-08-28  16.2  15.6  30.0  15.0    0.0  0.0  22.5  15.0   0.0   398.0
362 2021-08-29  17.6  17.4  30.0  15.0    0.0  0.0  22.5  15.0   0.0   398.0
363 2021-08-30  16.2  15.2  30.0  16.0    0.0  0.0  23.0  14.0   0.0   398.0
364 2021-08-31  15.2  15.4  30.0  25.0    0.0  0.0  27.5   5.0   0.0   398.0
365        NaT   NaN   NaN   NaN   NaN    NaN  8.0   NaN   NaN  65.0   393.5

[1831 rows x 11 columns]

In [11]:
#Remove files without date

data_meteo = data_meteo.dropna(subset=['Día']).rename(columns={'Día': 'date'})  #1831
data_meteo = data_meteo.set_index('date')
data_meteo = data_meteo.dropna(axis=0, how="all")      
data_meteo

              TS    TH  Tmax  Tmin  Prec.   DH  Tmed  Osc.   DL  PAcum.
date
2016-09-01  18.2    18  38.0  16.0    0.0  0.0  27.0  22.0  0.0     0.0
2016-09-02  18.5  18.2  38.0  17.0    0.0  0.0  27.5  21.0  0.0     0.0
2016-09-03  24.1  22.9  41.0  18.0    0.0  0.0  29.5  23.0  0.0     0.0
2016-09-04  19.2  17.9  42.0  19.0    0.0  0.0  30.5  23.0  0.0     0.0
2016-09-05  19.3  18.5  46.0  19.0    0.0  0.0  32.5  27.0  0.0     0.0
...          ...   ...   ...   ...    ...  ...   ...   ...  ...     ...
2021-08-27  20.4  19.2  30.0  20.0    0.0  0.0  25.0  10.0  0.0   398.0
2021-08-28  16.2  15.6  30.0  15.0    0.0  0.0  22.5  15.0  0.0   398.0
2021-08-29  17.6  17.4  30.0  15.0    0.0  0.0  22.5  15.0  0.0   398.0
2021-08-30  16.2  15.2  30.0  16.0    0.0  0.0  23.0  14.0  0.0   398.0
2021-08-31  15.2  15.4  30.0  25.0    0.0  0.0  27.5   5.0  0.0   398.0

[1826 rows x 10 columns]

# Format CSIC files into European Fluxes Database Cluster file

In [12]:


#Create time series with daily frequency

time_series = pd.date_range(start='2016-09-01 00:00:00', end='2021-08-31 00:00:00', freq="D")
#time_series = pd.date_range(start='2016-09-01', end='2021-08-31', freq="D")
#time_series = pd.date_range(start='2020-09-01 00:00:00', end='2021-06-31 00:00:00', freq="D")
#time_series = pd.date_range(start='2020-10-01 00:00:00', end='2021-06-08 00:00:00', freq="D")
time_series = pd.DataFrame(time_series).rename(columns={0: 'date'}).set_index('date')


data_meteo = pd.merge(left= time_series, right = data_meteo,
                        how="left", right_index=True, left_index=True).reset_index()

CSIC_variables     = ['date','TS','TH','Tmax','Tmin','Tmed','Osc.','Prec.']

eu_variables       = ['date','TA_S','TA_H','TA_MAX','TA_MIN','TA_MED','TA_OSC','P_RAIN']


df_meteo = data_meteo[CSIC_variables].set_axis(eu_variables , axis=1).set_index ('date')

#Export file

df_meteo.to_csv(filepath + "Metheorological_2016_2021.txt")